@mixin flexbox (
    $flex: flex,
    $align: flex-start,
    $justify: flex-start,
    $dir: row,
    $wrap: nowrap
    
){
    display: $flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $dir;
    flex-wrap: $wrap;
}
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
    
}
@mixin hide() {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s linear, visibility 0.25s linear;
}
@mixin show() {
    opacity: 1;
    visibility: visible;
 }

@mixin text-script{
    text-align: center;
}
@mixin heading-style{
    padding-bottom: 5rem;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 3rem;
}
@mixin heading-style-mo{
    padding-bottom: 2rem;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 1.5rem;
}