$wrapper: 1920px;
$padding: 20px;
$container: 1600px + $padding;
$primary-color: #ff8800;
$orange-color-light: #ffaa4d;
$color-hover: #ff5e00af;
$secondary-color: #0d0d25;
$gray-color: #5e5e79;
$gray-light-color: #e0e0e0;
$secondary-font: "Playfair Display", serif;
$primary-font: "Poppins", sans-serif;
$title-size: 3rem;
$heading-size: 8rem;